/* CSS Document */
a { text-decoration:none !important; }
hr { border-top-width:2px; }
#sidebar-left {
	position: fixed;
	width: 300px;
	z-index:1;
}
#main {
	position:absolute;
	top:0;
	margin-left:300px;
	width: calc(100% - 300px);
	overflow:hidden;
}
#page_store, #page_store_info, #page_order, #page_confirm, #page_summary, #page_store_product, #page_store_product_add, #page_store_product_add_confirm, #page_store_order_history, #page_product {
	overflow-x:hidden;
	overflow-y:auto;
	height:100%;
	background-color:#fff;
}
#search::-webkit-input-placeholder {
	color: #fff;
}
.uk-offcanvas-bar a:hover, .uk-nav a:hover {
	color:#000;
	font-weight:bold;
	background-color:#efefef;
}
.uk-offcanvas-bar {
	background-color:#fff;
	color:#000;
	width:300px;
}
.uk-offcanvas-bar a, .uk-nav a, .uk-dropdown-nav li a {
	color:#000 !important;
	padding:10px !important;
	
  -webkit-border-radius: 20px;
	 -moz-border-radius: 20px;
		  border-radius: 20px;
}

.uk-tab li a {
	padding-top:15px;
	padding-bottom:15px;
	border-bottom-width:2px;
}

/*--------------------------------------*/
.page_nav {
	background-color:#611cd7 !important; 
	height:50px;
}
.page_nav a {
	color:#fff !important; 
	text-transform:capitalize !important;
	font-size:18px !important;
}
.page_nav .page_title {
	color:#fff; 
	text-overflow:ellipsis; 
	white-space:nowrap; 
}

.page_nav .page_sub_title {
	color:#fff; 
	text-overflow:ellipsis; 
	white-space:nowrap; 
	text-transform:capitalize !important; 
}
.page_nav .uk-icon {
	color:#fff;
}

.page_nav2 {
	background-color:#fff !important; 
	height:50px;
}
.page_nav2 a {
	color:#333 !important; 
	text-transform:capitalize !important;
	font-size:18px !important;
}
.page_nav2 .page_title {
	color:#fff; 
	text-overflow:ellipsis; 
	white-space:nowrap; 
}

.page_nav2 .page_sub_title {
	color:#333; 
	text-overflow:ellipsis; 
	white-space:nowrap; 
	text-transform:capitalize !important; 
}
.page_nav2 .uk-icon {
	color:#333;
}

/* store order */
input[type=number] {
	font-size:18px;
}

input[type=number], .order_confirm {
	text-align:center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.order_confirm {
	background-color: #611cd7;
	color:#fff; 
	text-transform:capitalize;
	font-size:18px;
	font-weight:bold;
	cursor:pointer;
}

.order_confirm span {
	background-color:#fff;
	color:#611cd7;
	width:25px;
	height:25px;
	padding:2px;
}

.order_confirm:disabled {
	background-color: #ccc;
	color: #fff;
	border-color: #ccc;
	cursor: not-allowed;
}

.button_profile {
	border:2px solid #735fce;
	text-align:center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	color:#735fce; 
	text-transform:capitalize;
	font-size:18px;
	font-weight:bold;
}

.button_new_order {
	border:2px solid #ccc;
	text-align:center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	color:#ccc; 
	text-transform:capitalize;
	font-size:18px;
	font-weight:bold;
}

.button_product_add, .button_product_filter {
	background-color: #611cd7;
	color:#fff; 
	text-transform:capitalize;
	font-size:18px;
	font-weight:bold;
	cursor:pointer;

}

#page_summary .uk-icon-button {  
	background-color: #2dcc70;  
	color:#fff;
}
/* store order */

/* store products */
.product_item_config .uk-width-expand {
	width: 100%;
	margin-left: -100px;
}
/* store products */

/* custom */
.custom.uk-button {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color:#e5e5e5;
	color:#333;
}
.uk-text-large {
	margin-top:5px;
}
.uk-text-meta {
	margin:0;
}

.overlay {
	height: 100%;
	width: 100%;
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	background-color: rgba(255,255,255, 0.4);
	overflow-x: hidden;
}

#modal_store_menu .uk-modal-dialog, #modal_store_product_menu .uk-modal-dialog{
	width:400px;
}
#modal_store_menu .uk-modal-dialog p, #modal_store_product_menu .uk-modal-dialog p {
	cursor:pointer;
}
.uk-modal-close-outside {
	color:#000; 
	top:15px; 
	right:15px;
}

#tab_subcategory {
	white-space:nowrap; 
	overflow-x: auto;
	display:flex;
	-webkit-flex-wrap:nowrap;
	flex-wrap:nowrap;
	display:none;
	background-color:#fff;
	margin:0;
}
#tab_subcategory li {
	 display:inline;
}
/* custom */

@media only screen and (max-width: 1024px) {
	#sidebar-left {
		display:none;
	}
	#main {
		margin-left:0;
		width:100%;
	}
	
	.icon_menu {
		visibility:visible !important;
	}
}

@media only screen and (max-width: 600px) { 
	.uk-text-large {
		font-size:20px;
	}
	.page_sub_title {
		font-size:18px;
	}
	.store_image {
		height:100px !important;
	}
	.store_name {
		font-size:30px;
	}
	.page_sub_title.store_name {
		font-size:18px;
	}
	
	#modal_store_menu .uk-modal-dialog, #modal_store_product_menu .uk-modal-dialog {
		width:380px;
	}
}

@media only screen and (max-width: 420px) {
	.uk-text-large {
		font-size:14px;
	}
	.page_title {
		font-size:16px;
	}
	.page_sub_title {
		font-size:16px;
	}
	.store_image {
		height:80px !important;
	}
	.store_name {
		font-size:25px;
	}
	.page_sub_title.store_name {
		font-size:16px;
	}
	.uk-text-meta, .uk-text-small {
		font-size:12px;
	}
	#modal_store_menu .uk-modal-dialog, #modal_store_product_menu .uk-modal-dialog {
		width:300px;
	}
}

@media only screen and (max-width: 320px) {
	.uk-offcanvas-bar {
		width:250px;
	}
	.uk-text-large {
		font-size:14px;
	}
	.page_sub_title {
		font-size:16px;
	}
	.page_sub_title.store_name {
		font-size:14px;
	}
	.store_image {
		height:70px !important;
	}
	.store_name {
		font-size:20px;
	}
	.uk-text-lead.uk-text-primary {
		font-size:12px;
	}
	.uk-card.uk-card-body {
		padding:10px;
	}
	
	.uk-nav.uk-dropdown-nav li a {
		font-size:14px !important;
	}
	
	.uk-table tr td {
		padding:10px;
	}
	.uk-text-meta, .uk-text-small {
		font-size:12px;
	}
	
	input[type=number] {
		width: 80px !important;
		font-size: 14px !important;
	}
	
	.button_product_add, .button_product_filter, .button_profile, .button_new_order, .order_confirm {
		font-size:14px;
	}
	.order_confirm {
		font-size:12px;
	}
	#modal_store_menu .uk-modal-dialog, #modal_store_product_menu .uk-modal-dialog {
		width:250px;
	}
}

